/* GLOBAL STYLEs */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Open+Sans:wght@400;500;600&display=swap');
:root{
    --primary-color: #0B55F4;
    --second-color: #001DC0;
    --secondary-color:#F4AA0B;
    --black: #000000;
    --grey: #646666;
    --bg-color: #F6F8F8;
    --white: #ffffff;
    --nav-text-color:#131515;
    --input-border-color:#8C8E8E;
    --line-color:#ACAEAE;
    --footer-color:#131515;
    --heading-font:'Montserrat', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.all-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
}

body{
    background-color:var(--bg-color);
    font-family: 'Open Sans', sans-serif;
}

.first-section{
    background-image: linear-gradient( rgba(0, 29, 192, 0.25),rgba(0, 29, 192, 0.25)), url(../images/unsplash_8ldqRkOk5oo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10rem;
    color:var(--white);
}
.first-text h1{
    font-family: var(--heading-font);
    color: #F3870A;
    font-size: 3rem;
    max-width: 600px;

}
.first-text p{
    font-size: 20px;
    max-width: 600px;
}
.second-section-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    
}
.second-section-container p{
    max-width: 800px;
}
.second-section-container h2{
    font-family: var(--heading-font);
    font-size: 2rem;
}
.second-section-container img{
    width: 100%;
    border-radius: 5px;
}

.donation-selection{
    margin: 0 auto;
}
.cash-button{
    background-color: var(--primary-color);
    color: var(--white);
    font-family: var(--heading-font);
    font-size: 1.2rem;
    border: none;
    margin-right: 10px;
}
.material-button{
    background-color: var(--bg-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 1.2rem;
}
.donation-selection a:active{
    background-color: #0B55F4;}
.donation-selection button{
    padding: 10px 100px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    display: inline-block;

}
.donation-panel{
    max-width: 60%;
    margin: 0 auto;
    padding: 4rem;
}
form{
    display: grid;
    gap: 0.5rem;
    margin-top: 1rem;
}
form label,input{
    display: block;
}
form label{
    font-weight: 500;
}
form input{
    width: 100%;
    padding: 8px 12px;
    border: 1px solid var(--black);
    border-radius: 8px;
    background-color: var(--bg-color);
}
  input [type="radio"]:checked{
         letter-spacing: 0.5px;
        border:2px solid var(--primary-color) ;
        outline: 2px solid var(--primary-color);
    
    }
    select{
        font-size: 0.9rem;
        padding: 2px 5px;
   
}
.name, .email, .amount, .country,.zip-codes{
    display: grid;
    gap: 5px;
    margin-bottom: 20px;
}

.name-inputs, .country-inputs,
.country-code{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    background-color: var(--bg-color);
}
.radio-input input{
    width: 1rem;
    
}
.radio-button{
    display: flex;
    justify-content: space-between;
    
}
.card,.flutterwave,.paystack{ 
  width: 72px;
height: 22px;
font-size: 16px;
line-height: 22px;


}
.radio-input{
    display: flex;
    gap: 2px;
}

@media(max-width:1129px){
    .donation-panel{
        max-width: 70%;
    }
    
}

@media(max-width:975px){
    .donation-panel{
        max-width: 80%;
    }
    
}

@media(max-width:857px){
    .donation-panel{
        max-width: 90%;
    }
    .second-section-container{
        display: block;
        text-align: center;
        display: grid;
    }
  
  
    
}

@media(max-width:767px){
    .donation-panel{
        max-width: 95%;
    }
    
.second-section-container p{
    max-width: 1000px;
}
    
}

@media(max-width:745px){
    .first-section{
        padding: 5rem;
    }
    .first-text p{
        max-width: 700px;

    }
    .first-text h1{
        max-width: 700px;

    }
 

}

@media(max-width:729px){
    .donation-panel{
        max-width: 99%;
        padding: 1rem;
    }
    .first-text p{
        max-width: 700px;

    }
    .first-text h1{
        max-width: 700px;

    }
 

}

@media(max-width:428px){
    .first-section{
        padding: 3rem;
    }

    
.name-inputs, .country-inputs,
.country-code{
    display: block;
}
.donation-selection button{
    padding: 6px 50px;
}
.donation-panel{
    padding: 1rem;
}

}

 /*
.first-image{
    width: 1440px;
    height: 544px;
    left: 0px;
    top: 0;
    background: rgba(0,29, 192, 0.25);
}
.container{
    display: flex;
    justify-content: center;
    
}.h3 {
    font-family:' Montserrat', sans-serif;
    font-size: 27px;

}

.message{
     font-family:' Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 22px;
     letter-spacing: 0.5px;
     color: #131515;
}

.message p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    width: 569px;
    height: 176px;

}
.donation{
    display: flex;
    flex-direction: row;

justify-content: center;
   align-items: center;
   width: 342px;
   height: 49px;
   margin: auto;
padding: 10px;


   
}

.donation a {
    text-decoration: none;
    border: 1.5px solid;
    border-color: #0B55F4;
    padding: 5px 102px;
    border-radius: 2px;
}

.cash a{
    color: #F8F8F8;
    background-color: #0B55F4;
}

.material a:active {
color: #F8F8F8;
background-color: #0B55F4;
}

.form {
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 16px;
    width: 708px;
    height: 616px;
    left: 159px;
    top: 1541px;

}
.picture{
    width: 599px;
    height: 485px;
    left:732px;
    top:720px;
}
.name{
    width: 70%;
    display: flex;
    align-items: center;
    
    flex-direction: row;
    padding-right: 10px;
    
    font-size: 16px;
    line-height: 22px;
    border-radius: 10px;
    letter-spacing: 0.5px;
    color: #333535;
    padding: 12px 0px;
    gap: 16px;
}

.residence{


    display: flex;
    align-items: center;
    
    flex-direction: row;
    padding-right: 10px;
    margin-bottom: 10px;
    
    font-size: 16px;
    line-height: 22px;
    
    letter-spacing: 0.5px;
    color: #333535;
    
    padding: 12px 0px;
    gap: 8px;
}
.text{
    text-align: left;
    margin-right: 150%;
}
 .province {
    display: flex;
    align-items: flex-start;
    
    flex-direction: row;
    padding-right: 10px;
    margin-bottom: 10px;
    width: 75%;
    font-size: 16px;
    line-height: 22px;
    
    letter-spacing: 0.5px;
    color: #333535;
    
    
    padding: 12px 0px;
    gap: 8px;

}


#state{
width: 105%;
height: 22px;

line-height: 22px;

letter-spacing: 0.5px;
padding: 12px 0px;
gap: 8px; 


display: flex;
flex-direction: row;
align-items: center;
border: 1px solid #333535;

border-radius: 8px;
margin-right: 90%;



}
#fname{
    letter-spacing: 0.5px;
width: 105%;

display: flex;
flex-direction: row;
align-items: center;
padding:  8px;
border: 1px solid #333535;

border-radius: 8px;
margin-right: 90%;
}
#lname{
width: 150%;




border: 1px solid #333535;
letter-spacing: 0.5px;
display: flex;
flex-direction: row;
align-items: center;
padding:  8px;
border-radius: 8px;
gap: 16px;

}
#city{

width: 150%;
height: 22px;

line-height: 22px;

letter-spacing: 0.5px;
padding: 12px 0px;
gap: 16px;
border: 1px solid #333535;
border-radius: 8px;



align-items: flex-start;

}
#country{
    width: 105%;
    height: 22px;
    
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #333535;
    
    padding: 12px 0px;
    gap: 8px;
    
    
    
    border: 1px solid #333535;
    border-radius: 8px;
    align-items: center;
       
}
#zcode{

width: 150%;
height: 22px;

line-height: 22px;

letter-spacing: 0.5px;
padding: 12px 0px;
gap: 8px;
border: 1px solid #333535;
border-radius: 8px;



align-items:flex-start;






}

#email{


height: 22px;

font-size: 16px;
line-height: 22px;
letter-spacing: 0.5px;
color: #333535;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 0px;
gap: 8px;


border: 1px solid #333535;
border-radius: 8px;


align-items: flex-start;
width: 70%;
}


#address{

height: 22px;
line-height: 22px;
letter-spacing: 0.5px;
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 0px;
gap: 8px;
border: 1px solid #333535;
border-radius: 8px;
align-self: stretch;
width: 70%;

justify-content: center;
align-items: flex-start;






}

.payment{

width: 73px;
height: 22px;
font-size: 16px;
line-height: 22px;

letter-spacing: 0.5px;


color: #333535;

align-items: flex-start;
padding: 0px;
padding: 0px;
gap: 10px;
}








#card{

width: 72px;
height: 22px;

font-size: 16px;
line-height: 22px;

letter-spacing: 0.5px;


color: #333535;


border: 2px solid #0B55F4;

}
#Flutterwave{

width: 72px;
height: 22px;
font-size: 16px;
line-height: 22px;
letter-spacing: 0.5px;
color: #333535;



border: 2px solid #0B55F4;


}


#paystack{

width: 72px;
height: 22px;

font-size: 16px;
line-height: 22px;
letter-spacing: 0.5px;
color: #333535;
}










@media only screen and (max-width:768px){
    .container{
        flex-direction: column;
    }}
@media only screen and (max-width:428px){
.first-image{
width: 427px;
height: 386px;
left: 0px;
top: 0px;
}
.message{
    width:372px;
    height: 209px;
    text-align: center;
    letter-spacing: 0.5px;
    line-height: 19px;
}
.message h3{
    width: 372px;
    height: 123px;
}
.container{
    display: flex;
    flex-direction: column;
    
    
}
.picture{
    width: 428px;
    height: 485px;
    left: 0px;
    top:873px;
}
} */